.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

:root {
    --color-primary: #04179b;
    --color-white: #f1f1f1;
    --color-dark: #0d0d0d;
    --color-light: #f1f1f1;
}

.h-6 {
    height: 1.5rem;
}
.w-6 {
    width: 1.5rem;
}

html {
    transition: all 0.2s ease;
}