---
import Layout from '../layouts/Layout.astro';
import Network from "../components/Network.svelte";

---

<Layout title="Welcome to Astro.">
	<main class="w-full h-full">
		<!-- <Network client:only/> -->
	</main>
</Layout>