---
import '../styles/global.css';
import Navbar from '../components/Navbar.svelte';
import { isDarkMode } from '../stores/theme';

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/partition-sim-ui/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body class="w-full h-full">
		<Navbar client:only/>
		<div class={`w-full h-full body-container content is-large ${isDarkMode ? 'dark' : 'light'}`}>
            <slot />
		</div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                <strong>Partition Simulator</strong> by <a href="https://github.com/aalekhpatel07">Aalekh Patel</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </footer>
	</body>
</html>

<style>
	.body-container {
		padding: 4rem;
	}
</style>