---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		<link rel="stylesheet" href="https://kit.fontawesome.com/22eddba3c.css" crossorigin="anonymous">
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body class="w-full h-full">
		<Navbar />
		<div class="w-full h-full body-container content is-large">
            <slot />
		</div>
	</body>
</html>

<style>
	.body-container {
		padding: 4rem;
	}
    h1,h2,h3,h4,h5 {
        color: var(--color-primary);
    }
</style>